.home{
    width: 100%;
    height: auto;
    /* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    .slide{
        width: 100%;
        height: 75vh;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .fade {
            animation: fade 1.5s;
          }
          @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }
    }
  }
  

  

  
  /* Fading animation */

}