header{
    width: 90%;
    height: 20vh;
    position: absolute;
    z-index: 50000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    .logo{
        width: 15%;
        height: 60%;
    }
    nav{
        width: 25%;
        height: 50%;
        display: flex;
        align-items: center;
        ul{
            display: flex;
            justify-content: space-between;
            width: 100%;
            li{
                position: relative;
                a{
                    color: white;
                    font-family: $font1;
                    font-size: clamp(18px, 1.3vw, 20px);
                    transition: .2s ease-out;
                }
                a.active{
                    color: $jaune;
                }
                &:hover a{
                    color: #A49300;
                }
                &:hover:after{
                    transform: translateX(-50%) scaleX(1);
                }
                &:after{
                    content: "";
                    width: 120%;
                    height: 2px;
                    position: absolute;
                    background-color: $jaune;
                    left: 50%;
                    transform: translate(-50%) scaleX(0);
                    bottom: -5px;
                    transition: .3s ease-out;
                    transform-origin: 0% 100%;
                }
            }
        }
    }
}
@media screen and (max-width:900px) {
    header{
        width: 100%;
        height: auto;
        .box{
            position: absolute;
            width: 45px;
            height: 20px;
            right: 25px;
            top: 25px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            background-color: transparent;
            z-index: 600000;
            .ligne{
                width: 100%;
                height: 5px;
                position: absolute;
                background-color: white;
                top: 0;
                border-radius: 10px;
                &:nth-child(1){
                    top: 0;
                }
                &:nth-child(2){
                    top: 15px;
                }
                &:nth-child(3){
                    top: 30px;
                }
            }
        }
        .box .ligne:first-child, .ligne:nth-child(3){
            transform: rotate(0deg);
            transition: 
            transform 0.4s ease-in-out,
            top .4s .4s ease-in-out;
        }
        .box.active{
            transform: rotate(360deg);
            transition: .4s ease-in-out;
            .ligne{
                &:first-child{
                top: 15px;
                transform: rotate(45deg);
                transition: 
                top .4s  ease-in-out,
                transform .4s 0.4s ease-in-out;
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child{
                    top: 15px;
                    transform: rotate(-45deg);
                    transition: 
                    top .4s  ease-in-out,
                    transform .4s 0.4s ease-in-out;    
                }
            }
        }
        nav{
            height: 45vh!important;
            width: 50%;
            ul{
                width: 100%;
                height: 100%;
                flex-direction: column;
                background-color: $mauve;
                align-items: center;
                padding: 40px 30px;
                transform: translateX(100%);
                transition: .5s ease-out;
                padding-top: 65px;
            }
            ul.active{
                transform: translate(0);
            }
        }
    }
}
